{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>place-order</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    {% include 'cdnlines.html' %}
    <style>
        div h4{
            background-color: rgb(254, 59, 59);
            color: rgb(255, 255, 255);
            height: 30px;
            padding-top: 7px;
            border-radius: 5px;
        }
        span{
            font-weight: bold;
            font-size: 15px;
        }
    </style>
</head>
<body>
    {% include 'nav.html' %}
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 mt-1" >
                <p style="background-color: rgba(232, 3, 3, 0.929);color: white;height: 30px;padding-left: 3px;border-radius: 5px;font-size: 20px;" class="text-bg-danger p-3 fs-5 ">Customer Details</p>
               {% for x in products %}
               
                  {% if forloop.counter == 1 %}
                      <p><b>Name</b>:{{x.uid.username}}</p>
                      <p><b>Mobile</b>:2</p>
                      <p><b>Email</b>:{{x.uid.email}}</p>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="col-md-3">
                <p style="background-color: rgba(232, 3, 3, 0.929);color: white;height: 30px;padding-left: 3px;border-radius: 5px;font-size: 20px;" class="text-bg-danger p-3 fs-5">Total Amount</p>
                <p><b>Total({{n}}items)</b>:Rs.{{total}}</p>
                <hr>
                <p><b>Total Amount</b>Rs.{{total}}</p>
                <hr>
                <a href="/makepayment"><input type="submit" value="Make payment" class="btn btn-danger"></a>
            </div>
        </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                
                <h4>&nbsp;Order Summary</h4>
                <span style=" font-size: 20px;">Cart details:</span><br>
                 
                {% for x in products %}
                <div class="container-fluid">
                    <div class="row">
                    <div class="col-md-4">
                        <div class="w-auto-p-3">
                            <img src="{{ x.pid.pimage.url }}" class="img-thumbnail" style="width:300px; height: 250px;" alt="...">
                        </div>
                    </div>

                    <div class="col-md-8 ">
                        <p class="card-title"><b>Name:</b>{{x.pid.pname}}</p>
                        <p class="card-text"><b>Cost:</b>{{x.pid.pcost}}</p>

                        {% if x.cat == 1 %}
                        <p class="card-text"><b>Mobile</b></p>
                        {% elif x.cat == 2 %}
                        <p class="card-text"><b>clothes</b></p>
                        {% else %}
                        <p class="card-text"><b>shoes</b></p>
                        {% endif %}
                        
                        <p class="card-text"><b>Details:</b>{{x.pid.pdetails}}</p>
                        
                            <a href="{% url 'removes' cid=x.id %}"><input type="submit" class="btn btn-danger" value="Remove"></a>

                            <!-- <a href='/removes/{{x.id}}'><input type="submit" class="btn btn-danger" value="Remove"></a> -->
                    </div> 
                </div>
            </div>  <br>
                    {% endfor %}     
            </div>
        </div>   
    {% endblock %}
    
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/popper.js"></script>
    {% include 'base.html' %}
</body>
</html>


